doctype html
html
  head
    title #{env.APP_NAME}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block stylesheets
  body
    block content
    block scripts